@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Righteous&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baumans', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-size: 1rem;
  color: rgba(56,56,56);
}
h3{
    font-size: 1.5rem;
    color: rgba(56,56,56);
    line-height: 2.5rem;
    margin: 2rem 0;
}
a{
  color: rgba(56,56,56);
}
.title{
  text-align: center;
  margin: 30px 0;
}
.title > h3 {
  margin: 2rem 0;
}
.btn:hover{
  background: linear-gradient( to right, #f27a2f , #ba1d32);
}
.div2-recipe > div:first-of-type:hover,
  .div2-recipe > div:nth-child(2):hover {
    background: linear-gradient( to right, #919191 , #5f4c48);
  }
.scale:hover img, 
.scale:hover img,
.searched img:hover{
  transition: 400ms;
  transform: scale(1.1);
}  
.form{
  margin: 0rem 20rem;
}
.form div{
  position: relative;
  width: 100%;
 }

.form input{
      border:none;
      font-size: 1.5rem;
      color: white;
      padding: 1rem 3rem;
      border-radius: 1.5rem;
      outline:none;
      background: linear-gradient(35deg , #494949 , #313131);
      width: 100%;
  }
  .form svg{
      position: absolute;
      top: 40%;
      left: 2%;
      color: white;
      cursor: pointer;
  }
@media screen and (max-width: 600px){
  body{
    overflow-x: hidden;
  }
  .title{
    text-align: center;
    font-size: 1rem;
  }
  .form{
    width: 60%;
    margin: 0 auto;
    position: relative;
    right:70%;
  }

  .popular-mobile p{
    font-size: 0.8rem;
    bottom: 10%;
  }
  .popular-mobile {
    min-height: 30rem;
    width: 140%;
  }
  .popular-mobile > img {
    margin: 0 50px !important;
  }
  .veggie-mobile{
    width: 130%;
  }

  .recipe-mobile{
    flex-direction: column;
    margin: 0 !important;
  }

  .div1-recipe > h2{
    text-align: center;
  }
  .div1-recipe > img{
    width: 100%;
    border-radius: 2rem;
  }
  .div2-recipe{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    margin-top: 4rem !important;
  }
  .div2-recipe > div:first-of-type,
  .div2-recipe > div:nth-child(2) {
    padding: 0.7rem 2rem !important;
  }
}
