@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Righteous&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baumans', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h4{
  font-size: 1rem;
  color: rgba(56,56,56);
}
h3{
    font-size: 1.5rem;
    color: rgba(56,56,56);
    line-height: 2.5rem;
    margin: 2rem 0;
}
a{
  color: rgba(56,56,56);
}
.title{
  text-align: center;
  margin: 30px 0;
}
.title > h3 {
  margin: 2rem 0;
}
.btn:hover{
  background: linear-gradient( to right, #f27a2f , #ba1d32);
}
.div2-recipe > div:first-of-type:hover,
  .div2-recipe > div:nth-child(2):hover {
    background: linear-gradient( to right, #919191 , #5f4c48);
  }
.scale:hover img, 
.scale:hover img,
.searched:hover img{
  transition: 400ms;
  transform: scale(1.1);
}  
.form{
  margin: 0rem 20rem;
}
.form div{
  position: relative;
  width: 100%;
 }

.form input{
      border:none;
      font-size: 1.5rem;
      color: white;
      padding: 1rem 3rem;
      border-radius: 1.5rem;
      outline:none;
      background: linear-gradient(35deg , #494949 , #313131);
      width: 100%;
  }
  .form svg{
      position: absolute;
      top: 40%;
      left: 2%;
      color: white;
      cursor: pointer;
  }

  /*MOBILE*/


@media screen and (max-width: 600px){
  body{
    overflow-x: hidden !important;
    background-color: white !important;
  }
  .title{
    text-align: center;
    font-size: 0.8rem;
  }
  .form{
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
  .form svg{
    left: 6%;
}
  .cuisine{
    overflow-x: hidden !important;
   }
  .popular-mobile p{
    font-size: 0.8rem;
    bottom: 10%;
  }
  .popular-mobile, 
  .veggie-mobile {
    min-height: 30rem;
    width: 100%;
  }
  .popular-mobile > img {
    margin: 0 50px !important;
  }
  .popular-mobile p,
  .veggie-mobile p{
    bottom: -10% !important;
    color: black !important;
  }
  .btn{
    width: 5.5rem !important;
    height: 5.5rem !important;
    margin-right: 0.5rem !important;
  }
  .recipe-mobile{
    flex-direction: column;
    margin: 0 !important;
  }

  .div1-recipe > h2{
    text-align: center;
  }
  .div1-recipe > img{
    width: 93% !important;
    border-radius: 2rem;
    overflow-x: hidden !important;
    margin: 0 0.6rem;
  }
  .div2-recipe{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    margin-top: 4rem !important;
  }
  .div2-recipe > div:first-of-type,
  .div2-recipe > div:nth-child(2) {
    padding: 0.5rem 1.6rem !important;
  }
}

/*TABLET*/

@media screen and (min-width:601px) and (max-width: 950px){
  .form{
    width: 50%;
  margin: 0 auto;
  position: relative;
}
.form svg{
  left: 4%;
}
  .popular-mobile p,
  .veggie-mobile p{
    bottom: 0% !important;
    color: black !important;
  }
  .recipe-mobile{
    flex-direction: column;
    margin: 2rem 5rem !important;
  }
  .div1-recipe > h2{
    text-align: center;
  }
  .div1-recipe > img{
    width: 80% !important;
    border-radius: 2rem;
    overflow-x: hidden !important;
    margin: 0 !important;
  }
  .div2-recipe{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    margin-top: 4rem !important;
  }
}
